* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.btn {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    margin: 2rem 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.01);
    opacity: 50%;
}

#container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.toast {
    max-width: 300px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: whitesmoke;
}